body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

strong {
  color: rgb(100, 100, 255);
}

.wave-separator svg {
  overflow: hidden;
  background-color: #eef;
}
.wave-separator .shape-fill {
  filter: drop-shadow(0px 0px 16px rgb(0 0 0 / 0.4));
  fill: rgb(241, 241, 255);
}
.bottomSVG {
  rotate: 180deg;
  background-color: #eef;
}

/* throws off the horizontal size of the page
#contactSVG {
  transform: scaleX(1.5);
}
*/

.profilePics {
  width: 30rem;
  height: 30rem;
  border-radius: 30%;
  margin: 1vh;
  align-self: center;
}

.projects-images {
  width: 30vw;
  height: auto;
}

.projects-cards {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.projects-cards:hover .projects-images {
  filter: brightness(120%);
}

.projects-links {
  font-size: 1.5rem;
  text-decoration-line: none;
  color: black;
}

.projects-titles {
  position: relative;
}

.projects-titles span {
  display: inline-block;
  position: relative;
}

.projects-titles span::before {
  content: "";
  position: absolute;
  left: 50%;
  right: 50%;
  bottom: -5px;
  width: 0%;
  height: 2px;
  background-color: black;
  transition: all 0.5s ease-in-out;
}

.projects-cards:hover .projects-titles span::before {
  width: 100%;
  left: 0;
  right: 0;
}

.form-row {
  margin-bottom: 10px;
  font-size: 1.5rem;
}
.form-input {
  display: block;
}
.form-error {
  color: red;
}

#myContainer {
  padding: 0.5rem;
}

#myName {
  font-size: 5.2rem;
  font-weight: 200;
  letter-spacing: 0.4rem;
}

#myDescription {
  font-weight: 200;
  font-style: italic;
}

#twitterFollow {
  width: 2.5rem;
  height: 2.5rem;
}
#gamejoltFollow {
  width: 2.5rem;
  height: 2.5rem;
}
#linkedinFollow {
  width: 2.5rem;
  height: 2.5rem;
}
#githubFollow {
  width: 2.5rem;
  height: 2.5rem;
}

#titleContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#iconContainer {
  display: flex;
  justify-content: space-around;
}

#aboutMeContainer {
  display: block;
  border: 0;
  font-size: 1.8rem;
  background: linear-gradient(to top, #eef 5%, rgb(241, 241, 255) 5%);
}

#aboutMeBlock {
  margin: 1rem;
  padding: 1rem;
}

#myProfile {
  text-align: justify;
  display: flex;
  flex-direction: column;
}

#projectsContainer {
  padding: 0 0.5rem;
}

#myProjects {
  font-size: 2.4rem;
}

#projectsBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#frameContainer {
  width: 30vw;
  margin-left: 50%;
  translate: -50%;
  height: 99%;
  box-sizing: border-box;
  border-width: 5px 3px;
  border-style: solid;
  border-color: black;
  margin-bottom: 0.5rem;
}

#clockIframe {
  width: 100%;
  height: 100%;
}

#frameLink {
  background: transparent;
  position: absolute;
  z-index: 1;
  bottom: -1rem;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
}

#contactContainer {
  display: block;
  margin-top: 6rem;
  padding-bottom: 3rem;
  border: 0;
  font-size: 1.8rem;
  background-color: rgba(255, 255, 255, 0.2);
  /*box-shadow: 0px -18px 16px 0px rgba(0, 0, 0, 0.2);*/
}

#myContact {
  font-size: 1.8rem;
  padding-left: 1rem;
}

#emailContainer {
  display: flex;
  width: 95%;
  padding: 1rem;
  align-items: flex-end;
  justify-content: flex-end;
}

#contactForm {
  width: 50%;
}

#contactFormEmail {
  width: 80%;
}

#contactFormMessage {
  width: 80%;
  height: 20vh;
}

@media screen and (min-width: 900px) {
  .profilePics:first-of-type {
    display: none;
  }
  .projects-images {
    aspect-ratio: 2/3;
  }
  #myProfile {
    flex-direction: row;
  }
  .myAboutMeParagraph {
    margin: 1vw;
  }
  #profilePic {
    margin-right: 10vw;
    /* kool code I can reference later
    margin-right: calc(100vw - 900px); */
  }
  #myName {
    font-size: 7.2rem;
    letter-spacing: 0.6rem;
  }
}

@media screen and (max-width: 900px) {
  .profilePics:last-of-type {
    display: none;
  }  
  .projects-images {
    width: 80%;
    align-self: center;
  }
  .projects-links {
    padding-bottom: 1.6rem;
    font-size: 1.6rem;
  }
  #projectsBlock {
    flex-direction: column;
  }
  #myAboutMe {
    font-size: 2.4rem;
  }
  #myProjects {
    padding-left: 1.6rem;
  }
  #frameContainer {
    width: 80%;
    min-height: 70vh;
    border-width: 3px;
  }
  #clockIframe{
    height: 70vh;
  }
}